/*****************************************************************************/
/* Footer: Style */
/*****************************************************************************/

footer {
	float:right;
	margin-right: 30px;
	display: block;
}

footer p {
}
footer a {
	font-style: italic;	
}