<template name="News">
	<div class='content'>
		{{#if currentUser}}
			<button id='news-toCreatePost' class='btn'>Create new post.</button>
		{{/if}}
  		{{#if posts}}
  			{{#each posts}}
  				{{> post}}
  			{{/each}}
  		{{/if}}
  		<button id='loadMore' class='btn'>Load More</button>
  	</div>
</template>


<template name='post'>
	<div class="post"> 
		<img  class='post-titleImage' src={{titleImg}}>
		<div class='post-content'>	
			<p class='post-title'>
				{{textSlicer title 0}}
			</p>
			<p class='post-text'>
				{{{textSlicer text 1}}}
			</p>
			<p class="post-date">
				<!-- {{formatDate createdAt}} -->
				{{createdAt}}
			</p>
<!-- 			<p class='post-author'>
				{{getAuthorName}}
				{{authorName}}
			</p> -->
		</div>
	</div>
</template>